body
  padding: 50px
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif
  font-size: 14px
html, body
  font-size: 14px  
a
  color: #00B7FF

html, body
  height: 100%

.wrap 
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -60px

.push, .footer 
  height: 60px  

.footer
  background-color: #f5f5f5

#light-box
    width: 500px;
    background-color: #fff;
    display: none;
    position: fixed;
    z-index: 1001;
    top: 200px;
    left: 185px;
    color: #000;
    border-radius: 4px;
    padding: 20px 40px

#overlay
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    height: 1496px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;  

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 1.5em;
  }
}
@media (min-width: 480px) {
  body {
    font-size: 22px;
  }
  h1 {
    font-size: 2em;
  }
}